build/
__pycache__/
pdngen.tcl
sc_manifest.json
*.vg
user_analog_project_wrapper_with_sram.def
user_analog_project_wrapper_with_sram.lef
user_analog_project_wrapper.gds
user_analog_project_wrapper.lef
analog_area_with_external_pins.def
analog_area_with_external_pins.lef
analog_area.def
analog_area.gds
analog_area.lef